@import 'carro-veloce/flexbox'

.grid
  grid()

.grid--auto
  grid--auto()

.grid--left
  grid--left()

.grid--right
  grid--right()

.grid--center
  grid--center()

.grid--between
  grid--between()

.grid--around
  grid--around()

.grid--top
  grid--top()

.grid--middle
  grid--middle()

.grid--bottom
  grid--bottom()

.cell
  cell(1, 3)
