/**
 * The very lastest clearfix
 *
 * Known issues:
 * - Don't support IE6/7
 * - Don't support old version Opera
 *
 * See http://cssmojo.com/the-very-latest-clearfix-reloaded/
 *
 */

clearfix()
  &:after
    content ""
    display block
    clear both
